<clr-main-container>
    <app-app-level-alerts></app-app-level-alerts>
    <navigator
        (showAccountSettingsModal)="openModal($event)"
        (showDialogModalAction)="openModal($event)"></navigator>
    <div class="content-container">
        <div
            #scrollDiv
            class="content-area"
            [class.container-override]="showSearch"
            [class.content-area-override]="!shouldOverrideContent"
            [class.start-content-padding]="shouldOverrideContent"
            (scroll)="publishScrollEvent()">
            <global-message class="global-msg"></global-message>
            <!-- Only appear when searching -->
            <search-result></search-result>
            <router-outlet></router-outlet>
        </div>
        <clr-vertical-nav
            [clrVerticalNavCollapsible]="true"
            *ngIf="isUserExisting">
            <div>
                <a
                    clrVerticalNavLink
                    routerLinkActive="active"
                    routerLink="/harbor/projects">
                    <cds-icon
                        shape="organization"
                        clrVerticalNavIcon></cds-icon>
                    {{ 'SIDE_NAV.PROJECTS' | translate }}
                </a>
                <a
                    clrVerticalNavLink
                    routerLinkActive="active"
                    routerLink="/harbor/logs">
                    <cds-icon shape="list" clrVerticalNavIcon></cds-icon>
                    {{ 'SIDE_NAV.LOGS' | translate }}
                </a>
                <clr-vertical-nav-group
                    *ngIf="isSystemAdmin"
                    routerLinkActive="active">
                    <cds-icon
                        shape="administrator"
                        clrVerticalNavIcon></cds-icon>
                    {{ 'SIDE_NAV.SYSTEM_MGMT.NAME' | translate }}
                    <a routerLink="#" hidden aria-hidden="true"></a>
                    <clr-vertical-nav-group-children *clrIfExpanded="true">
                        <a
                            clrVerticalNavLink
                            routerLink="/harbor/users"
                            routerLinkActive="active">
                            <cds-icon
                                shape="users"
                                clrVerticalNavIcon></cds-icon>
                            {{ 'SIDE_NAV.SYSTEM_MGMT.USER' | translate }}
                        </a>
                        <a
                            clrVerticalNavLink
                            routerLink="/harbor/robot-accounts"
                            routerLinkActive="active">
                            <cds-icon
                                shape="robot-head"
                                clrVerticalNavIcon></cds-icon>
                            {{ 'SYSTEM_ROBOT.ROBOT_ACCOUNT_NAV' | translate }}
                        </a>
                        <a
                            *ngIf="!isDBAuth()"
                            clrVerticalNavLink
                            routerLink="/harbor/groups"
                            routerLinkActive="active">
                            <cds-icon
                                shape="users"
                                clrVerticalNavIcon></cds-icon>
                            {{ 'SIDE_NAV.SYSTEM_MGMT.GROUP' | translate }}
                        </a>
                        <a
                            clrVerticalNavLink
                            routerLink="/harbor/registries"
                            routerLinkActive="active">
                            <cds-icon
                                shape="block"
                                clrVerticalNavIcon></cds-icon>
                            {{ 'SIDE_NAV.SYSTEM_MGMT.REGISTRY' | translate }}
                        </a>
                        <a
                            clrVerticalNavLink
                            routerLink="/harbor/replications"
                            routerLinkActive="active">
                            <cds-icon
                                shape="cloud-traffic"
                                clrVerticalNavIcon></cds-icon>
                            {{ 'SIDE_NAV.SYSTEM_MGMT.REPLICATION' | translate }}
                        </a>
                        <a
                            clrVerticalNavLink
                            routerLink="/harbor/distribution/instances"
                            routerLinkActive="active">
                            <cds-icon
                                shape="share"
                                clrVerticalNavIcon></cds-icon>
                            {{ 'SIDE_NAV.DISTRIBUTIONS.NAME' | translate }}
                        </a>
                        <a
                            clrVerticalNavLink
                            routerLink="/harbor/labels"
                            routerLinkActive="active">
                            <cds-icon shape="tag" clrVerticalNavIcon></cds-icon>
                            {{ 'CONFIG.LABEL' | translate }}
                        </a>
                        <a
                            clrVerticalNavLink
                            routerLink="/harbor/project-quotas"
                            routerLinkActive="active">
                            <cds-icon
                                shape="resource-pool"
                                clrVerticalNavIcon></cds-icon>
                            {{ 'CONFIG.PROJECT_QUOTAS' | translate }}
                        </a>
                        <a
                            clrVerticalNavLink
                            routerLink="/harbor/interrogation-services"
                            routerLinkActive="active">
                            <cds-icon
                                shape="shield"
                                clrVerticalNavIcon></cds-icon>
                            {{
                                'SIDE_NAV.SYSTEM_MGMT.INTERROGATION_SERVICES'
                                    | translate
                            }}
                        </a>
                        <a
                            clrVerticalNavLink
                            *ngIf="hasAdminRole"
                            routerLink="/harbor/clearing-job"
                            routerLinkActive="active">
                            <cds-icon
                                shape="trash"
                                clrVerticalNavIcon></cds-icon>
                            {{ 'CLEARANCES.CLEARANCES' | translate }}
                        </a>
                        <a
                            clrVerticalNavLink
                            *ngIf="hasAdminRole"
                            routerLink="/harbor/job-service-dashboard"
                            routerLinkActive="active">
                            <cds-icon
                                shape="dashboard"
                                clrVerticalNavIcon></cds-icon>
                            {{
                                'JOB_SERVICE_DASHBOARD.JOB_SERVICE_DASHBOARD'
                                    | translate
                            }}
                        </a>
                        <a
                            clrVerticalNavLink
                            routerLinkActive="active"
                            routerLink="/harbor/configs">
                            <cds-icon shape="cog" clrVerticalNavIcon></cds-icon>
                            {{ 'SIDE_NAV.SYSTEM_MGMT.CONFIG' | translate }}
                        </a>
                    </clr-vertical-nav-group-children>
                </clr-vertical-nav-group>
            </div>
            <div class="mb-1">
                <ng-container *ngFor="let theme of themeArray; let i = index">
                    <ng-container *ngIf="theme.showStyle === styleMode">
                        <a
                            class="pointer"
                            clrVerticalNavLink
                            (click)="themeChanged(theme)">
                            <cds-icon
                                clrVerticalNavIcon
                                size="20"
                                *ngIf="styleMode === 'DARK'"
                                shape="sun"
                                class="is-solid"></cds-icon>
                            <cds-icon
                                clrVerticalNavIcon
                                size="20"
                                *ngIf="styleMode === 'LIGHT'"
                                shape="moon"
                                class="is-solid"></cds-icon>
                            {{ theme.text | translate }}
                        </a>
                    </ng-container>
                </ng-container>
                <a
                    rel="noopener noreferrer"
                    clrVerticalNavLink
                    routerLinkActive="active"
                    target="_blank"
                    routerLink="/devcenter-api-2.0">
                    <cds-icon
                        shape="network-globe"
                        clrVerticalNavIcon></cds-icon>
                    {{ 'SIDE_NAV.HARBOR_API_MANAGEMENT' | translate }}
                </a>
            </div>
        </clr-vertical-nav>
        <hbr-operation-model *ngIf="isUserExisting"></hbr-operation-model>
    </div>
</clr-main-container>
<account-settings-modal></account-settings-modal>
<preference-settings></preference-settings>
<password-setting></password-setting>
<global-confirmation-dialog></global-confirmation-dialog>
<about-dialog></about-dialog>
